#title_docs {
    font-size: 1em;
    color: hsl(11, 14%, 70%);

}
#title_docs:hover {
    color: red;
    text-decoration: none;
}

body{
  padding: 0;
  margin: 0;
  background-color: gray;
}

a:hover{
  color : yellowgreen;
}